<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMDoJJaWe-mqLFvAGntv_pVp5K7yi5An4</string>
	<key>GCM_SENDER_ID</key>
	<string>851954686134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Argus.MarsLen</string>
	<key>PROJECT_ID</key>
	<string>ios2-finalproject-marslen</string>
	<key>STORAGE_BUCKET</key>
	<string>ios2-finalproject-marslen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851954686134:ios:804e7b879f2d864abcee17</string>
	<key>DATABASE_URL</key>
	<string>https://ios2-finalproject-marslen-default-rtdb.firebaseio.com</string>
</dict>
</plist>